@import 'tailwindcss';

@theme {
	--color-primary: var(--color-blue-800);
	--color-secondary: var(--color-violet-600);
	--color-background: var(--color-indigo-950);
	--color-foreground: var(--color-violet-700);
	--color-dead: var(--color-red-800);
	--color-text: var(--color-purple-100);
}

html {
	@apply bg-background text-text;
}
